
:root{
    --blue: rgb(40 170 224);;
    --orange: #f69223;
    --black: #000000;
    --box-shadow:10.0px 10px 50px var(--blue);;
}

.footer{
    width: 100%;
    height: 60vh;
    background-color: rgb(39, 38, 38);
    color: #fff;
}

.footer_content{
    display: grid;
    grid-template-columns: 1fr 1fr  1fr 1fr 1fr;
    grid-template-rows: 50vh;
    gap: 0;
    padding: 0 70px;
}

#item {

    height: 45vh;
    /* background-color: yellow; */
}


.footer_content .item{
    height: 100%;
    padding: 40px 0 ;
    margin-right: 10px;
}

.footer_content .item .logo {
    width: 200px;
    height: 65px;
    margin-bottom: 10px;
}

.footer_content .logo img {
    width: 100%;
    height: 100%;
}

.address,
.call_maill,
.social_icons{
    padding: 5px 11px;
}

.contact_address{
    width: 310px;
    font-size: 15px;
    font-weight: 600;
}


.footer_content .call_maill  p{
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.6px;    
    /* background-color: red; */
}   

.footer_content .call_maill  a{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    padding-left: 5px;
}

.footer_content .social_icons ul{
    display: flex;
}


.footer_content .social_icons ul li{
    margin-right: 10px;
}

.footer_content .social_icons ul li a{
    font-size: 15px;
    color: var(--blue);
    display: block;
    padding: 0 10px;
}

.footer_content h5{
    color: rgb(40 170 224);
    letter-spacing: 1px;
}


.footer_content .link_item ul li{
    padding: 7px 0;
 }


.footer_content .link_item {
    padding: 40px 5px ;
    /* background-color: red; */
}

 .footer_content .link_item ul li a{
     font-size: 13.6px;
     letter-spacing: 2px;
 }

.footer_content .link_item ul li a:hover,
.footer_content .social_icons ul li a:hover,
.call_maill a:hover{
     color: #f69223;
     text-decoration: none;
}

 hr{
     background: #fff;
     margin: 0 40px;
 }
 
 #reserved{
     text-align: center;
     padding: 20px 0;
     color: var(--blue);
 }


 @media(max-width:991px) {
    .footer{
        width: 100%;
        height: auto;
    }
    
    .footer_content{
        display: block;
        padding: 0 ;
    }
    
    .footer_content .item{
        height: 100%;
        padding: 20px 0 ;
        margin-right: 0;
    }
    
    
    .footer_content .item .logo {
        width: 170px;
        height: 55px;
        padding-left: 25px;
    }
    
    .footer_content .logo img {
        width: 100%;
        height: 100%;
    }
    
    .address,
    .call_maill{
        padding: 0 30px;
    }
    
    .contact_address{
        width: 100%;
        font-size: 15px;
        font-weight: 600;
    }
    
    .footer_content h5{
        padding-left: 30px;
    }
    
    .footer_content .call_maill  p{
        font-size: 15px;
        font-weight: 600;
    }   
    
    .footer_content .call_maill  a{
        font-size: 14px;
        padding-left: 0;
    }

    .footer_content .social_icons{
        padding: 10px 20px;
    }
    

    
    .footer_content .link_item ul li{
        padding: 5px 30px;
     }
    
    
    .footer_content .link_item {
        padding: 21px 0 ;

    }
    
    .footer_content .link_item ul li a{
         font-size: 13.6px;
     }
    
    .footer_content .link_item ul li a:hover{
         color: rgb(21, 21, 214);
    }
    
     hr{
         background: #fff;
         margin: 0 ;
     }
     
    #reserved_{
         text-align: center;
         padding: 20px 0;
         font-size: 15PX;
     }
 }