.navSlideProfile{
  /* height: 500px; */
  width: 0;
  position: relative;
  /* z-index: 1; */
  top: 50%;
  left: 0;
  background-color: #28aae0;
  /* opacity: .9; */
  overflow-y: scroll;
  padding-top: 50px;
}

.navSlideProfile a{
  display: block;
  padding: 15px 20px;
  font-size: 15px;
  text-decoration: none;
  color: #ccc;
}
.navSlideProfile a:hover{
  transition: 0.4s;
  color: #fff;
}

.navSlideProfile .closeTab{
  position: absolute;
  top: 0;
  right: 0px;
  margin-left: 50px;
  font-size: 30px;
  color:#000;
}

.openIconSideProfile{
  color: #000;
  font-size: 36px;
  /* margin-left:130px; */
}

#navSlideProfileContent{
  padding: 20px;
  transition: margin-left 0.7s;
  overflow: hidden;
  /* display:flex;
  flex-direction:row; */
}

@media screen and (max-width:768px) {
  .navSlideProfile{
  width: 120px;
  margin-left: -57px;
  text-align: left;
  padding-left: 10px;
}    
}
